<footer>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-inline text-center" id="footericons">
                <li>
                    <a href="/atom.xml" title="Atom feed">
                        <span class="l">Atom feed</span>
                        <span class="ico fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/thsutton" title="thsutton on Twitter">
                        <span class="l">Twitter</span>
                        <span class="ico fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://au.linkedin.com/in/thsutton" title="Thomas Sutton on Linked In">
                        <span class="l">Linked In</span>
                        <span class="ico fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/thsutton/" title="thsutton on GitHub">
                        <span class="l">GitHub</span>
                        <span class="ico fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <!--
                <li>
                    <a href="https://speakerdeck.com/thsutton/" title="thsutton on Speaker Deck">
                        <span class="l">Speaker Deck</span>
                        <span class="ico fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-speakerdeck fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                -->
                <li>
                    <a href="https://stackexchange.com/users/52384/thsutton" title="thsutton on Stack Exchange">
                        <span class="l">Stack Exchange</span>
                        <span class="ico fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-stack-exchange fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>

            <p class="copyright text-muted">Copyright &copy; Thomas Sutton 2015</p>

            <p class="text-muted">Some links, such as links to books on
            amazon.com, contain affiliate codes so I can get a kickback if you
            buy something.</p>
        </div>
    </div>
</div>
</footer>
