<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>$title$ - Passing Curiosity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Thomas Sutton">
        $if(strapline)$
        <meta name="description" content="$strapline$">
        $else$
        $if(excerpt)$<meta name="description" content="$excerpt$">$endif$
        $endif$

        $if(twitter_card)$
            <meta name="twitter:card" content="$twitter_card$">
            <meta name="twitter:site" content="$twitter_site$">
            <meta name="twitter:creator" content="$twitter_creator$">
            <meta name="twitter:title" content="$title$">
            $if(strapline)$<meta name="twitter:description" content="$strapline$">
            $else$$if(excerpt)$<meta name="twitter:description" content="$excerpt$">
            $endif$$endif$
            $if(twitter_image)$<meta name="twitter:image" content="$twitter_image$">$endif$
        $else$<meta name="twitter:site" content="@thsutton">$endif$
        $if(atom_feed)$<link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='$atom_feed$'>$endif$
        $if(rss_feed)$<link rel='alternate' type='application/rss+xml' title='RSS' href='$rss_feed$'>$endif$
        <!-- Bootstrap Core CSS -->
        <link href="/assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/assets/css/clean-blog.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

$partial("templates/_navigation.html")$
$body$
<hr>
$partial("templates/_footer.html")$

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1171151-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/clean-blog.js"></script>
     <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>
