<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>$title$ - Passing Curiosity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Thomas Sutton">
        $if(strapline)$<meta name="description" content="$strapline$">$else$$if(excerpt)$<meta name="description" content="$excerpt$">$endif$$endif$

        $if(atom_feed)$<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="$atom_feed$">$endif$
        $if(rss_feed)$<link rel="alternate" type="application/rss+xml" title="RSS" href="$rss_feed$">$endif$

        <meta name="google-site-verification" content="sFbUnMDWG6snLnBd10vhpKMv9SuSvGse4Ir9CtjFQHk">

        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/assets/css/clean-blog.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>
        $if(image_small)$
        .intro-header { background-image: url('/$image_small$'); }
        $else$/* Missing mobile image */
        $endif$
        $if(image)$
        @media only screen and (min-width: 768px) {
        .intro-header { background-image: url('/$image$'); }
        }
        $else$/* Missing desktop image */
        $endif$
    </style>
</head>
<body>
$partial("templates/_navigation.html")$

$body$
<hr>
$partial("templates/_footer.html")$

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1171151-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/clean-blog.js"></script>

    <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>
