<nav class="pagination">
  <ul>
    <li class="first">
      $if(firstPage)$<a href="$firstPage$">First</a>$else$<span>First</span>$endif$
    </li>
    <li class="previous">
      $if(previousPage)$<a href="$previousPage$">Previous</a>$else$<span>Previous</span>$endif$
    </li>
    <li class="next">
      $if(nextPage)$<a href="$nextPage$">Next</a>$else$<span>Next</span>$endif$
    </li>
    <li class="last">
      $if(lastPage)$<a href="$lastPage$">Last</a>$else$<span>Last</span>$endif$
    </li>
  </ul>
</nav>
