<article>
  <header class="jumbotron">
    <h1>$title$</h1>
    <p class="lead"><small class="date">$date$</small> - $excerpt$ $tags$</p>
  </header>
  <hr>

  <div class="row-fluid marketing">
    $body$
  </div>

  <footer>
  	<p class="pull-right">&mdash; $location$</p>
  	<p>If you'd like to comment on this post, contact me on Twitter at <a
  	<href="https://www.twitter.com/thsutton">@thsutton</a> or by email at <a
  	<href="mailto:me@thomas-sutton.id.au">me@thomas-sutton.id.au</a>.</p>
  </footer>
</article>
