<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="jumbotron">
    <h1 itemprop="name">$title$</h1>
    <p class="lead">
	  $if(excerpt)$<span itemprop="description">$excerpt$</span>$endif$
      <span itemprop="keywords">$tags$</span>
    </p>
	<p class="meta">$if(location)$<span class="location">$location$</span>; $endif$<time itemprop="dateCreated" datetime="$datetime$">$date$</time></p>
  </header>
  <hr>

  $if(contents)$
  <nav id="table-of-contents">
    <h2>Table of Contents</h2>
    $contents$
  </nav>

  $endif$
  <div class="row-fluid marketing">
    $body$
  </div>

  <hr>
  <footer>
    <p>If you'd like to comment on this post, contact me on Twitter at <a
    href="https://twitter.com/thsutton">@thsutton</a> or by email at <a
    href="mailto:me@thomas-sutton.id.au">me@thomas-sutton.id.au</a>.</p>
  </footer>
</article>
