---
layout  : default
top     : Passing Curiosity
section : Blog
feed    : /atom.xml
---

<header>
    {% include nav.html %}
</header>

<div id="page">
  <article>

  <h1 class="emphnext">{{ page.title }}</h1>

{{ content }}

  <address class="signature">
    <a class="author" href="http://thomas-sutton.id.au/">Thomas Sutton</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>

  <footer>
  <p>Want to comment on this post? <a href="mailto:{{ site.email }}?subject={{ page.title | xml_escape }}">Contact me by email</a>
  or on <a href="http://twitter.com/thsutton">Twitter</a>.</p>

  </footer>
  </article>
</div><!-- End Page -->
